@import "./_variables.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

.pointer {
    cursor: pointer;
    user-select: none;
}

.page {
    color: var(--bs-body);
}

.form-control {
    border: 3px dashed rgba(var(--bs-primary-rgb), 0.4) !important;
    outline: none !important;
    background: linear-gradient(90deg, rgba(var(--bs-primary-rgb), 0.2), rgba(var(--bs-info-rgb), 0.2));
}

.form-control::placeholder {
    color: var(--bs-secondary);
    font-weight: 500;
}

.btn:hover:not(.btn-outline-text) {
    color: white;
}

.btn-outline-text {
    font-weight: 600;
}

.btn:not(.btn-outline-info, .btn-outline-primary, .btn-outline-text, .page, .btn-outline-light) {
    color: white !important;
    font-weight: 600;
}

.pfp {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 100em;
    border: 3px solid var(--bs-primary);
    user-select: none;
}

.bg-gradient {
    background: linear-gradient(90deg, var(--bs-primary), var(--bs-info)) !important;
}

.outline-0 {
    border: none !important;
}

body {
    overscroll-behavior: none;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bs-page);
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
}