@import "./_variables.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

.pointer {
    cursor: pointer;
    user-select: none;
}

.form-control {
    border: 3px dashed rgba(96, 147, 247, 0.3) !important;
    outline: none !important;
    background-color: rgba(96, 147, 247, 0.1);
}

.btn:hover {
    color: white !important;
}

.btn:not(.btn-outline-info, .btn-outline-text) {
    color: white !important;
    font-weight: 600;
}

.pfp {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 100em;
    border: 2px solid var(--bs-info);
}

.bg-gradient {
    background: linear-gradient(90deg, #29c5fe, #6093f7) !important;
}

.outline-0 {
    border: none !important;
}

body {
    overscroll-behavior: none;
    font-family: 'Poppins', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bs-page);
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
}